body {
  background-color: floralwhite;
  font-family: helvetica, arial, sans-serif;
}

h1 {
  text-align: center;
  color: #555;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
}

#album-view img {
  border: 1px solid gray;
  height: 150px;
  margin: 5px;
  padding: 5px;
}

#modal-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-view img {
  max-height: 100%;
  max-width: 100%;
}

#modal-view.hidden {
  display: none;
}